body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  .datetime {
    font-size: 24px;
  }
  
  #location {
    font-size: 18px;
  }
  